*{
	/*padding: 3px;*/
	margin: 0;
	text-decoration: none;
	list-style: none;
	
}
body{
	background-image:url(../images/img2.PNG);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family:Calibri;	
}
header{
	height: 20vh;
	width: 100vw;
	background-image: url(images/img2.PNG);
	background-size: cover;
}
.navbar{
	position: absolute;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

label.logo{
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding: 0 50px;
	line-height: 80px;

}
nav ul{
	float: right;
	margin-right: 40px;

}
nav li {
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
.navbar .nav-links ul a {
	color: white;
	font-size: 18px ;
	font-weight: bold;
	text-transform: uppercase;
	
	padding: 7px 10px;
	border-radius: 3px;

}
.navbar .logo {
	font-size: 2em;
	font-weight: bold;
}
a.active,a:hover{
  border: 1px solid white;
  transition: .5s;
}


.navbar .menu-bars{
	display: none;
	position: absolute;
	top: 50px;
	right: 50px;
	width: 35px;
}

@media only screen and (max-width: 900px) {
.navbar{
		padding: 0;
	}
.navbar .menu-bars{
display: block;
}
.navbar .logo {
	position: absolute;
	top: 20px;
	left: 10px;
}
.nav-links {
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(255, 255,255, 0.20);
	backdrop-filter: blur(8px);
	width: 100%;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100%;
    transition: all 0.5s ease;

}
.nav-links.mobile-menu{
	margin-left: 0;
}
	
.nav-links ul {
	display: flex;
	flex-direction: column;


}	
.navbar .nav-links ul li {
	margin: 20px 0;
	font-size: 1em;
} 
}
